<div class="map-widget">
  Map
  <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
    <path d="M 251.932 43.262 C 241.283 79.086 207.559 103.678 212.324 141.801 C 214.439 158.721 239.414 160.554 250 169.816 C 263.839 181.925 267.867 209.565 262.559 226.814 C 255.174 250.816 222.735 266 219.086 291.54 C 217.453 302.976 231.391 314.777 237.441 323.42 C 244.653 333.722 249.388 351.422 247.102 363.995 C 244.118 380.405 228.309 394.381 217.154 405.536 C 216.259 406.431 208.064 420.993 212.324 420.993" class="move-path"/>
    <path d="M 251.932 43.262 C 241.283 79.086 207.559 103.678 212.324 141.801 C 214.439 158.721 239.414 160.554 250 169.816 C 263.839 181.925 267.867 209.565 262.559 226.814 C 255.174 250.816 222.735 266 219.086 291.54 C 217.453 302.976 231.391 314.777 237.441 323.42 C 244.653 333.722 249.388 351.422 247.102 363.995 C 244.118 380.405 228.309 394.381 217.154 405.536 C 216.259 406.431 208.064 420.993 212.324 420.993" class="base-path"/>
  </svg>
</div>
{{yield}}
